<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="A step by step guide to important documents">
	  <meta name="keywords" content="documents, aadhar, pan card, voter id">
  	<meta name="author" content="G.R.A.S.P">
    <title>Portal4U | About</title>
    <link rel="stylesheet" href="/css/guides.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1>Portal<span class="highlight">4</span>U</h1>
        </div>
        <nav>
          <ul>
            <li><a href="/homePage">Home</a></li>
            <li><a href="/documents">Documents</a></li>
            <li><a href="/userIssue">Complaint</a></li>
            <li><a href="/notices">News</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="main">
      <div class="container">
        <article id="main-col">
          <h1 class="page-title">About Us</h1>
          <p>
            Portal4U is an initiative by G.R.A.S.P. It aims at helping people blah blah blah Portal4U is an initiative by G.R.A.S.P. It aims at helping people blah blah blahPortal4U is an initiative by G.R.A.S.P. It aims at helping people blah blah blah.
          </p>
          <p class="dark">
Portal4U is an initiative by G.R.A.S.P. It aims at helping people blah blah blah Portal4U is an initiative by G.R.A.S.P. It aims at helping people blah blah blahPortal4U is an initiative by G.R.A.S.P. It aims at helping people blah blah blah.We are a bunch of Freshers at Bennett University who try to come up with unique and creative solutions to existing problems.We are a bunch of Freshers at Bennett University who try to come up with unique and creative solutions to existing problems.
          </p>
        </article>

        <aside id="sidebar">
          <div class="dark">
            <h3>What We Do</h3>
            <p>We are a bunch of Freshers at Bennett University who try to come up with unique and creative solutions to existing problems.</p>
          </div>
        </aside>
      </div>
    </section>

    <footer>
      <p>Portal4U | An initiative by G.R.A.S.P.</p>
    </footer>
  </body>
</html>
