<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="A step by step guide to important documents">
	  <meta name="keywords" content="documents, aadhar, pan card, voter id">
  	<meta name="author" content="G.R.A.S.P">
    <title>Portal4U | Documents</title>
    <link rel="stylesheet" href="/css/guides.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1>Portal<span class="highlight">4</span>U</h1>
        </div>
        <nav>
          <ul>
            <!--- This contains link to pages made by Rishabh. Replace Links with appropiate file names. -->
            <li><a href="/homePage">Home</a></li>
            <li><a href="/documents">Documents</a></li>
            <li><a href="/userIssue">Complaint</a></li>
            <li><a href="/notices">News</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="showcase">
      <div class="container">
        <h1>Step-by-Step Guide to your Documents</h1>
        <p>A complete guide to obatin important documents like Aadhar, PAN card and Voter ID.</p>
      </div>
    </section>

    <section id="boxes">
      <div class="container">
        <div class="box">
          <a href="./files/Aadhaar.pdf" download="Aadhaar Guide.pdf"><img src="./img/Aadhar.png"></a>
          <h3>Aadhar</h3>
          <p>Aadhaar is a verifiable 12-digit identification number issued by UIDAI to the resident of India for free of cost</p>
        </div>

        <div class="box">
          <a href="./files/Voter ID.pdf" download="Voter ID Guide.pdf"><img style="margin-top:-10px;" src="./img/voterID.png"></a>
          <h3 style="margin-top:0px;">Voter ID</h3>
          <p>A Voter ID Card, also known as the Electors Photo Identity Card (EPIC) is a photo identity card that is issued by the Election Commission of India</p>
        </div>

        <div class="box">
          <a href="./files/PAN Card.pdf" download="PAN Card Guide.pdf"><img  src="./img/panCard.png"></a>
          <h3>PAN Card</h3>
          <p>A permanent account number (PAN) is a ten-character alphanumeric identifier, issued in the form of a laminated "PAN card"</p>
        </div>

      </div>
    </section>
    <br><br><br>
    <footer>
      <p>Portal4U | An initiative by G.R.A.S.P.</p>
    </footer>
  </body>
</html>
