<!DOCTYPE html>
<html>
    <head>
        <title>Government Notices</title>

        <link rel="stylesheet" href="css/notices.css">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">

        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    </head>
    <body>

    <header>
        <div class="container">
            <div id="branding">
                <h1>Portal<span class="highlight">4</span>U</h1>
            </div>
            <nav>
                <ul>
                    <!--- This contains link to pages made by Rishabh. Replace Links with appropiate file names. -->
                    <li><a href="/homePage">Home</a></li>
                    <li><a href="/documents">Documents</a></li>
                    <li><a href="/userIssue">Complaint</a></li>
                    <li><a href="/notices">News</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
        </div>
    </header>

        <div class="highlights">

            <h2><strong>News Highlights</strong></h2>
            <hr>

            <h3>News</h3>

            <div class="news">
                <a href="#"><i class="fas fa-angle-double-right"></i> State CMs request PM Modi for financial support, agree on lockdown extension</a>
                <br><br>
                <a href="#"><i class="fas fa-angle-double-right"></i> Have ample hydroxychloroquine stock for domestic use, assures govt</a>
                <br><br>
                <a href="#"><i class="fas fa-angle-double-right"></i> 337 Indian prisoners, including fishermen, believed to be in Pakistan's custody: Government</a>
                <br><br>
                <a href="#"><i class="fas fa-angle-double-right"></i> India to spend a whopping $130 billion for military modernisation in next 5-7 years</a>
                <br><br>
                <a href="#"><i class="fas fa-angle-double-right"></i> Slight drop in number of Covid-19 cases in last three days: Delhi</a>
                <br><br>
                <a href="#"><i class="fas fa-angle-double-right"></i> With eye on China, India amends FDI policy to curb opportunistic takeovers</a>
                <br><br>
                <a href="#"><i class="fas fa-angle-double-right"></i> Adding more beds, says government as positive cases cross 10000</a>
                <br><br>

                <button>more news...</button>
            </div>

        </div>

        <div class="notice">

            <h2><strong>Notice Board</strong></h2>
            <hr>

            <table>
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Title</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Revised Guidelines issued on Grievance Disposal</td>
                        <td><a href="#">Download(145.76 KB)</a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Private FM Channels permitted to carry All India Radio News</td>
                        <td><a href="#">Download(132.98 KB)</a></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Key Initiatives and Programmes of Government</td>
                        <td><a href="#">Download(78.91 KB)</a></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Public comments sought on Cinematograph Act (Amendment) Bill</td>
                        <td><a href="#">Download(143.53 KB)</a></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Rescheduling of Open House Meeting</td>
                        <td><a href="#">Download(117.33 KB)</a></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>CPS pension Revision Status</td>
                        <td><a href="#">Download(91.80 KB)</a></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>National Entrepreneurship Awards 2019</td>
                        <td><a href="#">Download(102.08 KB)</a></td>
                    </tr>
                </tbody>
            </table>

            <div id="nextbtn"><button><b>Next</b></button></div>
        </div> 

        <div class="mostviewed">

            <h1><i class="far fa-clipboard"></i> Most Viewed</h1>

            <ul>
                <li class="linksbox"><a class="links" href="#">Check online your Aadhar Card details</a></li>
                <li class="linksbox"><a class="links" href="#">Check application status of Ration Card</a></li>
                <li class="linksbox"><a class="links" href="#">Check Ration Card details of PDS beneficiaries online</a></li>
                <li class="linksbox"><a class="links" href="#">Check Aadhar Card status online</a></li>
                <li class="linksbox"><a class="links" href="#">Search your name in voters list</a></li>
                <li class="linksbox"><a class="links" href="#">Apply online for new PAN Card or corrections in PAN Card information</a></li>
            </ul>
            
            <button>MORE</button>
            
        </div>

    <br><br><br><br>
    <footer>
        <p>Portal4U | An initiative by G.R.A.S.P.</p>
    </footer>
    <br><br>

        <div class="update">
            <h5>Last Updated <span>20 Apr 2020</span></h5>
        </div>
    </body>
</html>