<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "css/tick.css" type = "text/css">
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" type = "text/javascript"></script>
        <meta http-equiv = "refresh" content = "5 ; url = /userIssue" />
        <script type = "text/javascript">
        $('document').ready(function(){
            $(".trigger").toggleClass("drawn")
        })
        </script>
    </head>
    <body>
        <div class="trigger" style="margin-top:100%; position:relative;"></div>
        <svg version="1.1" id="tick" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	    viewBox="0 0 37 37" style="enable-background:new 0 0 37 37;" xml:space="preserve">
        <path class="circ path" style="fill:none;stroke:#000;stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;" d="M30.5,6.5L30.5,6.5c6.6,6.6,6.6,17.4,0,24l0,0c-6.6,6.6-17.4,6.6-24,0l0,0c-6.6-6.6-6.6-17.4,0-24l0,0C13.1-0.2,23.9-0.2,30.5,6.5z"/>
        <polyline class="tick path" style="fill:none;stroke:#000;stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;" points="11.6,20 15.9,24.2 26.4,13.8 "/>
        </svg>
    </body>
    <h2 style="width: 700px;margin-left:-200px;">The complaint ID is <span style="color:crimson;"><td th:text="${ID}"/></span> Note Down for future references</h2>
</html>